.modal__header {
    background-color: #000080;
    color: white;
    padding: 15px;
    
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: 700;
}

.modal__text {
    margin: 30px 15px;
}

.modal__btn {
    text-align: right;
    margin-right: 15px;
}

.modal__overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .4;
}