.card {
    max-width: 40%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 30px auto 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card.userForm,
.card.users {
    padding: 20px;
}

.card.modal {
    padding: 0 0 20px;
    position: relative;
}